/**
 * This injects Tailwind's base styles and any base styles registered by
 * plugins.
 */
@tailwind base;

/* Write your own custom base styles here */
@layer base {
  a {
    @apply underline;

    position: relative;
  }

  a::after {
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 2px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
    background-color: #60a5fa;
  }

  a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  a:hover {
    @apply text-blue-500;
  }

  h1 {
    @apply text-4xl pb-4 pt-6 font-display;
  }

  h2 {
    @apply text-2xl pb-4 pt-6;
  }

  h3 {
    @apply text-xl pb-4 pt-6 font-bold;
  }

  h4 {
    @apply pb-0 pt-4 font-bold;
  }

  li {
    @apply text-lg leading-9;
  }

  ol {
    @apply list-decimal pl-4 py-2 ml-4;
  }

  ol li {
    @apply pl-4;
  }

  ol li::marker {
    /* grey-500 */
    color: #6b7280;
    padding-right: 4px;
  }

  p {
    @apply max-w-3xl py-2 text-lg;
  }

  strong {
    @apply font-bold;
  }

  ul {
    @apply pl-4 py-2;
  }

  ul li::before {
    content: "";
    display: inline-block;
    height: 0.75em;
    width: 0.75em;
    background-image: url("data:image/svg+xml,%3Csvg id='icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ctitle%3E radio-button %3C/title%3E%3Cpath fill='%233B82F6' d='M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z' /%3E%3Crect fill='none' width='32' height='32' /%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
  }

  ul li {
    @apply pl-4 py-1;
  }

  ul ul {
    padding: 0;
  }

  ul ul li {
    margin-left: 2rem
  }
}
