/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

@layer components {
  .no-list-item li::before {
    content: none;
  }

  .primary-button {
    @apply bg-blue-500 px-6 py-3 rounded-md text-white text-center;
  }

  .secondary-button {
    @apply border-blue-500 border text-blue-500 px-6 py-3 rounded-md text-center;
  }

  .responsive-skills {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }
}
