/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

@layer components {
  .primary-button {
    @apply bg-blue-600 px-6 py-3 rounded-md text-white text-center;
  }

  .secondary-button {
    @apply border-blue-600 border text-blue-600 px-6 py-3 rounded-md text-center;
  }

  .ease-in > * {
    transition: opacity 1s ease-in;
    animation: 0.5s ease-in 0s 1 forwards loading-down;
  }

  .inset-box-shadow {
    box-shadow: inset 0 0 5px hsla(0, 0%, 0%, 0.2);
  }

  .nested-li {
    padding-left: 2rem;
  }

  .no-list-item li::before {
    content: none;
  }

  .responsive-skills {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  }

  .responsive-footer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
}

@keyframes loading-down {
  100% {
    transform: translateY(-15px);
    opacity: 1;
  }

  0% {
    opacity: 0;
  }
}
