@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
@layer base {
  a {
    @apply underline;
  }

  a:focus {
    @apply text-blue-500;
  }

  a:hover {
    @apply text-blue-500;
  }

  h1 {
    @apply text-4xl pb-4 pt-6 font-display;
  }

  h2 {
    @apply text-2xl pb-4 pt-6;
  }

  h3 {
    @apply text-xl pb-4 pt-6 font-bold;
  }

  h4 {
    @apply pb-0 pt-4 font-bold;
  }

  li {
    @apply text-lg;
  }

  ol {
    @apply list-inside list-decimal pl-4 py-2;
  }

  ol li {
    @apply pr-4;
  }

  ol li::marker {
    color: #6b7280;
    padding-right: 4px;
  }

  p {
    @apply max-w-3xl py-2 text-lg;
  }

  strong {
    @apply font-bold;
  }

  ul {
    @apply pl-4 py-2;
  }

  ul ul {
    @apply pl-8;
  }

  ul li::before {
    content: "";
    display: inline-block;
    height: 0.75em;
    width: 0.75em;
    background-image: url("data:image/svg+xml,%3Csvg id='icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ctitle%3E radio-button %3C/title%3E%3Cpath fill='%233B82F6' d='M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm0,26A12,12,0,1,1,28,16,12,12,0,0,1,16,28Z' /%3E%3Crect fill='none' width='32' height='32' /%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 0.5em;
  }

  .no-list-item li::before {
    content: none;
  }

  .primary-button {
    @apply bg-blue-500 px-6 py-3 rounded-md text-white text-center;
  }

  .secondary-button {
    @apply border-blue-500 border text-blue-500 px-6 py-3 rounded-md text-center;
  }
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
